.App{
  background-color:antiquewhite;
  min-height: 100vh;

}
.navbar{
  min-width: 10vh;
  background-color: rgb(90, 85, 85);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.links{
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}